<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="КиноБаза - это портал кино">
    <meta name="keywords" content="фильмы, фильмы онлайн, hd">
    <title>Главная страница</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
    <main class="main">
        <header class="header">
            <div class="logo">
                <header class="logo_text">
                    <h1><a href="/">КиноБаза</a></h1>
                    <h2>Кино - наша страсть!</h2>
                </header>
            </div>

            <nav class="menubar">

                <ul class="menu">
                    <li><a href="/">Главная</a></li>
                    <li class="selected"><a href="/films">фильмы</a></li>
                    <li><a href="#">Сериалы</a></li>
                    <li><a href="/rating">Рейтинг фильмов</a></li>
                    <li><a href="/contact">Контакты</a></li>
                </ul>
            </nav>
        </header>

        <div class="site_content">

            <div class="sidebar_container">
                <h2>Поиск</h2>
                <form method="post" action="#" id="search_form">
                    <input type="search" name="search_field" placeholder="Ваш запрос">
                    <input type="password" name="password_field" placeholder="Пароль">
                    <input type="submit" class="btn" value="Вход">
                    <div class="lables_passreg_text">
                        <span><a href="#">Забыл пароль?</a></span> | <span><a href="#">Регистрация</a></span>
                    </div>

                </form>
            </div>

            <div class="sidebar">
                <h2>Новости</h2>
                <span>31.02.2018</span>
                <p>Мы запустили расширенный поиск</p>
                <a href="#">Читать</a>
            </div>

            <section class="sidebar">
                <h2>Рейтинг фильмов</h2>
                <ul>
                    <li><a href="/show">Интерстеллар</a><span class="rating_sidebar">8.1</span></li>
                    <li><a href="#">Матрица</a><span class="rating_sidebar">8.0</span></li>
                    <li><a href="#">Безумный макс</a><span class="rating_sidebar">7.5</span></li>
                    <li><a href="#">Обычный атлас</a><span class="rating_sidebar">7.4</span></li>
                </ul>
            </section>


            <div class="content">

                <div class="info_film">
                    <img src="static/assets/img/inter.png">
                    Когда засуха, пыльные бури и вымирание растений
                    приводят человечество к продовольственному кризису,
                    коллектив исследователей и учёных отправляется сквозь
                    червоточину (которая предположительно соединяет области
                    пространства-времени через большое расстояние) в путешествие,
                    чтобы превзойти прежние ограничения для...
                    <div class="button"><a href="#">Смотреть</a></div>
                </div>

                <div class="info_film">
                    <img src="static/assets/img/max.png">
                    Действия картины разворачиваются в постапокалиптическом мире.
                    Макс скитается по выжженной планете в полном одиночестве,
                    по его мнению это единственный способ выжить. Однако это не спасает
                    главного героя от налетчиков из Цитадели, и после недолгой погони Макс
                    попадает в плен, где становится донором крови для одного из приспешников
                    тирана по имени Несмертный Джо.См
                    <div class="button"><a href="#" >Смотреть</a></div>
                </div>

                <div class="info_film">
                    <img src="static/assets/img/matrix.png">
                    Действия картины разворачиваются в будущем.
                    В центре сюжета молодой парень по имени Томас Андерсон,
                    ведущий двойной образ жизни. Днем он самый обычный сотрудник
                    крупной компании, а вот по ночам хакер Нео. Однажды на его компьютер
                    от неизвестных людей приходит сообщение странного содержания
                    «Ты увяз в матрице». Парень даже представить себе не может...
                    <div class="button"><a href="#">Смотреть</a></div>
                </div>

                <div class="info_film">
                    <img src="static/assets/img/cloud.png">
                    В фильме описывается шесть различных историй, происходящих
                    в разное время, но которые тесно связаны между собой.
                    Прошлое и будущее переплетаются, каждый выбор и действие приводят
                    к последствиям, которые предопределяют судьбу и ход событий в жизни.
                    Все начинается с обычного пастуха, затем действие постоянно переносится из XIX века в будущее...
                    <div class="button"><a href="#">Смотреть</a></div>
                </div>
            
            </div>

        </div>

        <div class="footer">
            <p>
                <a href="/">Главная</a>
                <a href="/films">фильмы</a>
                <a href="#">Сериалы</a>
                <a href="/rating">Рейтинг фильмов</a>
                <a href="/contact">Контакты</a>
            </p>
            <p>kinopoisk.ru</p>
        </div>

    </main>

</body>
</html>